body,
.QAHxuJxRZWb3P_cbR8QA,
.sCsSbKP9yxvw4LQAeaTz,
.QYvze2FiFrLlotTk5Iz7,
.Wlqv8YhEAE9OzBkKuKjg,
.UbpDhvufmId2nxL2l5gC,
.L08gWL3VF3BooN7MG9uX,
.eLS4omBUBKIdRuH3vIbv,
.QbarJSxzhe6iPp6VdlAs,
.qJdF_iTl1gv6JkFZmE2R,
.aUBcrib1jsrHTK9vhlVZ,
.bgpkEUtMj48JGNZfveOf,
.LW7EjqPdWOz2byf1EuLg{
    background-color: #171717 !important;
}
.D9WLyEQaARfWqCTyVrpU,
.z1WvYJgksHY23EwdFNB5,
.ji5jASszKFf2CGCmbxEh,
.n6GuqIk3cK3cSgL5gW1Z,
.hkGTFmd1GeMzMEf8vNW_,
.ycoskpkASJJEiimQJINL,
.Z2PYS5vNVghY4m46zQQV{
    box-shadow: none;
    background-color: #2A2B2B;
}
._M8cCug8H18ALQ05cNMt{
    color: white !important;
}
.VsTVUAD89KWleD0YRVsD,
.QeMJj1LEulq1ApqLHxuM{
    background-color: #EC2C40 !important;
}
.VsTVUAD89KWleD0YRVsD:hover{
    background-color: #00A9E5 !important;
}
.xM8CBkrn0wtFOdOP84Bb input{
    background-color: #171717 !important;
}

.xM8CBkrn0wtFOdOP84Bb button[disabled],
.xM8CBkrn0wtFOdOP84Bb button,
.z_Raef7MoQTTp7fHENMF .yZqd3D1to9HjAdrmztDe p {
    background-color: #00A9E5;
}
