.group-messages-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  /* height: 100%; */
  /* Remove this line */
  padding: 10px;
  margin-bottom: 60px;
  flex-grow: 1;
  overflow-y: scroll;
}

.group-message-container-me {
  padding: 10px;
  display: grid;
  grid-template-areas:
    "user-icon textContainer"
    "empty timeStamp";
  grid-template-rows: auto 1px;
  margin-right: auto;
  margin-bottom: 10px;
}

.group-message-container-they {

  padding: 10px;
  display: grid;
  grid-template-areas:
    "textContainer user-icon"
    "timeStamp empty";
  grid-template-rows: auto 1px;
  margin-left: auto;
  margin-bottom: 10px;
}

.group-message-user-icon {

  width: 50px;
  height: 50px;
  margin: 5px;
  border-radius: 50%;
  object-fit: cover;
  /* overflow: hidden; */
  margin-right: 10px;
  grid-area: user-icon;

}

.group-message-text-container {

  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  background-color: red;

}

.group-message-displayName {
  grid-area: displayName;
  font-weight: bold;
  font-size: large;
  color: #ffffff;
}

.group-message-message {
  grid-area: message;
  font-size: medium;
  color: #ffffff;
}

.group-message-timestamp-me {
  margin-right: auto;
  grid-area: timeStamp;
  font-size: small;
  color: rgb(216, 216, 216);
  transform: translate(10px, 3px);
}

.group-message-timestamp-they {
  margin-left: auto;
  grid-area: timeStamp;
  font-size: small;
  color: rgb(216, 216, 216);
  transform: translate(-10px, 3px);
}


.group-chat-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  /* You can set a fixed height or a maximum height */
  max-height: 80vh;
  /* Example: 80% of the viewport height, adjust as needed */
  overflow-y: auto;
  /* Add scrollbar when content exceeds the container height */
}

.group-message-input-container {
  width: auto;
  height: 8%;
  background-color: #272727;
  /* margin-bottom: 0px; */
  /* padding-bottom: 5px; */
  padding-left: 20px;
  padding-right: 20px;
  /* padding-top: 10px; */
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
}

.group-message-form {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.group-message-input-field {

  width: 94vw;
  padding: 10px;
  margin-right: 20px;
  border-radius: 30px;
  height: 5vh;
  border: 1px solid #ced4da;
  color: black;
  font-size: larger;
  /* overflow: hidden; */
}



#error-form {
  position: fixed;
  top: 40%;
  left: 40%;
  background-color: #433e72;
  padding: 20px;
  /* Increased from 20px */
  box-shadow: 0 4px 8px rgba(255, 0, 0, 0.6);
  /* Increased shadow size */
  /* Rounded corners */
  width: 350px;
  height: fit-content;
  animation: slideUp2 0.5s ease-out;

}

#error-form-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#error-form-text {
  padding: 0px;
  font-size: large;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

#error-form-btn {
  width: fit-content;
  background-color: red;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: large;
  font-weight: bold;
}

#erorr-form-btn:hover {
  background-color: #ffffff;
  color: rgb(255, 163, 163);
  cursor: pointer;
}

#group-message-send-btn {
  color: #ffffff;
  cursor: pointer;
}

.bob-btn-1 {
  text-align: center;
  vertical-align: middle;
  border: none;
  font-size: larger;
  width: 7vh;
  /* Increased from 50px */
  height: 3vh;
  /* Increased from 50px */
  border-radius: 20px;
  /* Rounded corners */
  background-color: red;
}

.bob-btn-1:hover {
  background-color: #ffb8b8;
}

@keyframes slideUp2 {
  0% {
    transform: translateY(500%);
  }

  100% {
    transform: translateY(0%);
  }
}