@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

*::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #171717;
}

*::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #EC2C40;
}
