@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

*::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #171717;
}

*::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #00A9E5;
}

::-webkit-file-upload-button {
    border-radius: 8px;
    background-color: #FFFFFF;

  }

.h-90 {
  height: 90%;
}

.shadow-neon {
  box-shadow: 0 0 20px 2px #00A9E5;
  z-index: 1000;
}

.shadow-neon:hover {
  box-shadow: 0 0 30px 2px #DC2034;
}

.shadow-none:hover {
  box-shadow: 0 0 30px 2px #DC2034;
  z-index: 1000;
}

.shadow-neon-blue {
  box-shadow: 0 0 20px 2px #00A9E5;
  z-index: 1000;
}

.shadow-neon-red {
  box-shadow: 0 0 20px 2px #DC2034;
  z-index: 1000;
}
