@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

input[type="radio"] {
  opacity: 0;
}

input + svg {
  cursor: pointer;
}

svg:hover {
  fill: #00A9E5;

  transition-duration: 0.5s; 
}
