.ql-snow.ql-toolbar button, .ql-snow .ql-toolbar button {
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  padding: 5px;
  width: 40px;
  fill: white;
}

.ql-toolbar.ql-snow {
  border: none;
}

.ql-snow.ql-container {
  border: none;
}
